{% block my_first_module_plugin_page %}
    {#    always start with sw-page #}
    <sw-page class="my-first-module-plugin">
        {#        always add #content block #}
        <template #content>
            <input type="text" v-focus="">
            <h2>Hello Plugin!</h2>

            <sw-button
                    :disabled="false"
                    :square="false"
                    :block="false"
                    :isLoading="false"
                    @click="greet"
            >
                Lorem ipsum dolor sit amet
            </sw-button>

        </template>
    </sw-page>
{% endblock %}