{% block my_first_module_plugin_page %}
    {#    always start with sw-page #}
    <sw-page class="my-first-module-plugin">
        {#        always add #content block #}
        <template #content>
            <h2>Hello Plugin!</h2>

        </template>
    </sw-page>
{% endblock %}