{% block default_confif_view_main %}
    <sw-page style="border: 1px solid #D8DDE6;">
        <template #search-bar>
            <sw-search-bar>
            </sw-search-bar>
        </template>
        <template #smart-bar-header>
            <h2>{{ $tc('default-config.item.bar') }}</h2>
        </template>
        <template #smart-bar-actions>
            <sw-button-process
                    class="sw-settings-cart__save-action"
                    :is-loading="isLoading"
                    :process-success="isSaveSuccessful"
                    :disabled="isLoading"
                    variant="primary"
                    @update:process-success="saveFinish"
                    @click="onClickSave"
            >
                {{ $tc('sw-settings-cart.general.buttonSave') }}
            </sw-button-process>
        </template>
        <template #content>
            <div class="sw-system-config">
                <div class="sw-system-config__global-sales-channel-switch">
                    <sw-sales-channel-switch
                            :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                            @change-sales-channel-id="onSalesChannelChanged"
                    />
                </div>
            </div>

            <sw-card-view>
                <sw-card :title="$tc('default-config.item.card')" :isLoading="isLoading">
                    {% block sw_settings_my_config %}
                        <sw-system-config
                                ref="systemConfig"
                                domain="IhorAdminPlugin.ihor_config"
                                @loading-changed="onLoadingChanged"
                        />
                    {% endblock %}
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}